.contaniner {
  background-color: pink;
  height: 100%;
  width: 98%; }
  .contaniner h1 {
    margin: 0; }
  .contaniner .page {
    height: 100%; }

.testChangeME {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  font-size: 40px; }
